* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  /* overflow: hidden; */
  display: flex;
}

main.main-container {
  height: 100%;
  width: 600px;
  font-family: Inter, sans-serif;
  margin: 0 auto;
}

header {
  background-color: #fff7ed;
  height: 111.62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 32px;
}

header .logo {
  font-family: Inter, sans-serif;
  font-weight: 900;
  font-size: 25.35px;
  line-height: 40.27px;
  color: #000000;
}

header div {
  display: flex;
  gap: 24px;
}

header div .link {
  color: #4d4d4d;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22.92px;
}

section.home {
  background-image: url(Images/vanimage.png);
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  width: 100%;
  /* max-width: 548.15px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

section div.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 494.33px;
  height: 256.13px;
  gap: 16px;
}

section div h1.home-title {
  font-family: Inter, sans-serif;
  font-weight: 800;
  font-size: 38px;
  line-height: 42px;
  color: #ffffff;
}

section div p.home-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 28px;
}

section div button.home-button {
  background-color: #ff8c38;
  height: 49.85px;
  border-radius: 5px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 15.95px;
  line-height: 31.66px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

section.about {
  width: 100%;
  background-color: #fff7ed;
}

section.about div.about-img {
  width: 100%;
  aspect-ratio: 1/1;
  max-height: 233.21px;
  margin-bottom: 16px;
}

div.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.about-info {
  padding: 24px 16px;
}

div.about-info h1.about-info-title {
  color: #161616;
  font-size: 700;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 16px;
}

div.about-info p.about-info-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 16px;
  text-wrap: pretty;
}

div.about-cta-container {
  margin-top: 32px;
  background-color: #ffcc8d;
  border-radius: 5px;
  padding: 16px;
}

h2.cta-container-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

button.cta-container-button {
  margin-top: 16px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 15.95px;
  line-height: 23.92px;
  text-align: center;
  background-color: #161616;
  border-radius: 10px;
  cursor: pointer;
  height: 49px;
  width: 174px;
  border: none;
  color: #ffffff;
}

/* Section vans */
section.vans {
  width: 100%;
  background-color: #fff7ed;
  padding: 10px 32px;
}

section.vans h1.vans-title {
  color: 161616;
  font-weight: 700;
  line-height: 33.7px;
  font-size: 32px;
  margin-bottom: 24px;
}

section.vans div.vans-type-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.vans-type-container div.vans-type {
  display: flex;
  gap: 20px;
  align-items: center;
}

div.vans-type span.span-type {
  background-color: #ffead0;
  color: #4d4d4d;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 23.9px;
  padding: 4px 24px;
}

span.vans-clear-filters {
  color: #4d4d4d;
  line-height: 23.9px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
}

div.vans-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 16px;
  margin-top: 24px;
}

div.vans-container div.vans {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

div.vans-image {
  width: 100%;
}

div.vans div.vans-image img {
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 5px;
}

div.vans div.vans-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
}

div.vans-info-container h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 31.7px;
  color: #161616;
}

div.vans-info-container p {
  font-size: 16px;
  font-weight: 600;
  line-height: 31.7px;
  color: #161616;
}

div.vans-container button {
  border-radius: 5px;
  text-align: center;
  width: 85.71px;
  height: 33.89px;
  border: none;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 31.7px;
  font-weight: 500;
  margin: 16px 0px 8px 6px;
  cursor: pointer;
}

div.vans-container button.vans-button-simple,
div.detail-container i.detail-simple,
div.detail-info-container i.i-simple {
  color: #ffead0;
  background-color: #e17654;
}

div.vans-container button.vans-button-rugged,
div.detail-container i.detail-rugged,
div.detail-info-container i.i-rugged {
  color: #ffead0;
  background-color: #115e59;
}

div.vans-container button.vans-button-luxury,
div.detail-container i.detail-luxury,
div.detail-info-container i.i-luxury {
  color: #ffead0;
  background-color: #161616;
}

a.vans-link {
  text-decoration: none;
}

/* VanDetailed */
section.vans-detail {
  width: 100%;
  background-color: #fff7ed;
  padding: 10px 32px;
}

section.vans-detail a {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
}

section.vans-detail a svg {
  color: #201f1d;
  font-size: 15.95px;
}

section.vans-detail a p {
  font-size: 15.95px;
  font-weight: 500;
  color: #201f1d;
}

div.detail-container {
  width: 100%;
}

div.detail-img-container {
  width: 100%;
  margin: 16px 0px 24px 0;
}

div.detail-img-container img {
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 5px;
}

div.detail-container i {
  padding: 8px 16px;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}

div.info-container {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h1.info-container-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 33.7px;
  color: #161616;
}

p.info-container-price {
  display: flex;
  align-items: center;
  font-size: 20px;
}

p.info-container-price span.span-price {
  color: #161616;
  font-weight: 700;
}

p.info-container-description {
  color: #161616;
  font-size: 16px;
  font-weight: 500;
  line-height: 23.9px;
}

button.info-container-button {
  border-radius: 5px;
  border: none;
  background-color: #ff8c38;
  font-family: Inter, sans-serif;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 31.7px;
  cursor: pointer;
  padding: 6px 0;
}

/* Section Host */
section.host {
  width: 100%;
  background-color: #fff7ed;
  padding: 0 32px;
}

nav.host-nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* Styles for Links */
header a {
  text-decoration: none;
  color: #161616;
}

nav.host-nav a.active-link,
a.active-link {
  font-weight: bold;
  text-decoration: underline;
  color: #161616;
}

nav.host-nav a {
  text-decoration: none;
  font-size: 18px;
  color: #4d4d4d;
  line-height: 22.9px;
}

/* HostVan Section */
section.hostVan {
  width: 100%;
}

h1.hostVan-title {
  font-weight: 700;
  font-size: 32px;
  color: #161616;
  margin: 16px 0px 24px 0;
}

div.hostVan-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px 0px 24px 0;
}

div.hostVan-container a {
  text-decoration: none;
}

div.van-item {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  display: flex;
  padding: 10px;
  border-radius: 6px;
}

div.van-item-img-container img {
  aspect-ratio: 1/1;
  max-width: 110px;
  max-height: 110px;
  border-radius: 5px;
}

div.van-item-text-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin-left: 16px;
  gap: 6px;
}

div.van-item-text-container h2 {
  color: #161616;
  font-weight: 600;
  font-size: 20px;
  line-height: 31.66px;
}

div.van-item-text-container p {
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 500;
  line-height: 31.66px;
}
/* HostVanDetail Section */

section.host-van-detail {
  background-color: #fff;
  margin-top: 32px;
  padding: 32px;
}

a.back-link {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #201f1d;
  font-size: 15.95px;
  margin-top: 32px;
}

div.host-van-detail-container {
  margin-top: 16px;
  display: flex;
  border-radius: 6px;
  padding: 6px 0px;
}

div.host-van-detail-container img {
  border-radius: 6px;
  aspect-ratio: 1/1;
}

div.host-van-detail-container div.detail-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
  gap: 8px;
}

div.host-van-detail-container div.detail-info-container h2 {
  font-size: 32px;
  font-weight: 700;
  color: #161616;
}

i {
  padding: 6px 0px;
  text-align: center;
  width: 90px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
}

/* Vans Navigation Bar */
nav.vans-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 14px;
}

nav.vans-nav a {
  color: #201f1d;
  text-decoration: none;
  font-size: 16px;
}

/* HostVan Info */
div.hostVanInfo {
  font-size: 14.35px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 21.46px;
  margin-top: 16px;
}

div.hostVanInfo p {
  text-wrap: balance;
}

footer {
  background-color: #252525;
  height: 74.75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 14px;
  font-weight: 500;
  line-height: 22.92px;
  text-align: center;
  color: #aaa;
}
